.widget-flat {
    position: relative;
    overflow: hidden;
    background-color: #e9eaec;
    max-width: 250px;
}
[dir="ltr"] .widget-flat .card-body .float-end {
    float: right!important;
}
.widget-flat .card-body .fw-normal {
    font-size: 1rem;
}
.widget-flat .widget-icon {
    color: #727cf5;
    font-size: 20px;
    background-color: rgba(114,124,245,.25);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    display: inline-block;
}

.widget-flat .user-info {
    display: flex;
    padding: 5px;
    background-color: #c0c4c785;
    border-radius: 0.25rem;
}

.widget-flat .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr.divider {
    margin: 0;
    border-bottom: 1px dashed indigo;
    background: transparent;
}

.card.card-currency {
    max-width: 260px;
    margin-bottom: 40px;
}
.card.card-currency .card-body {
    background-color: #e9eaec;
    border-radius: 0.25rem;
}
.card.card-currency table.currecy-rates {
    width: 100%;
}
.card.card-currency table.currecy-rates td,
.card.card-currency table.currecy-rates th {
    border: 1px solid #dee2e6;
    padding: 8px 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
}

.card.card-currency table.currecy-rates tr th:nth-child(2n+1),
.card.card-currency table.currecy-rates tr td:nth-child(2n+1) {
    width: 70%;
}
.card.card-currency table.currecy-rates tr th:nth-child(2n),
.card.card-currency table.currecy-rates tr td:nth-child(2n) {
    width: 30%;
}