.nav-link {
  color: #fff !important;
  font-weight: 700 !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 > button {
  color: #fff !important;
  font-weight: bold;
}
.ReactFlagsSelect-module_selectOptionValue__vS99- {
  color: #000 !important;
  font-weight: bold;
}

.nav-img{
width: 120px;
/* height: 30px; */
}
.nav-img > img{
  width: 100%;
  height: auto;
}
.custom-lang {
  padding-bottom: 0;
}
.custom-lang > button {
  border: none;
}
[dir="rtl"] .custom-lang > button > span > span:nth-child(2) {
  padding-right: 10px;
  padding-left: 0;
}
.custom-lang > ul {
  margin: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e7ebf0;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
}
.custom-lang > ul > li {
  margin: 0;
  padding: 7px 20px;
}

[dir="rtl"] .custom-lang > ul > li > span > span:nth-child(2) {
  padding-right: 10px;
  padding-left: 0;
}