.jawwal-back {
  width: 100%;
  height: 100%;
  background: url(https://res.cloudinary.com/dtu4lltbk/image/upload/v1619567348/0b27ce4c-eb43-4fbc-b49e-f39e2486cd3f_awhjg5.jpg) no-repeat center center;
  background-size: 100% 100%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jawwal-text {
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: 1.6rem;
  margin: 0;
  margin-right: 16px;
}
.mobile-semi {
  color: #fff;
}
.charge-card :hover {
  transform: translateY(0) scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.fixed-top1 {
  top: 0;
  z-index: 1;
  background-color: #fff;
  /* border: 2px solid #25ace3; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 0.95;
}
.frame1 {
  position: relative;
  height: 80px;
}
.close-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  cursor: pointer;
  display: inline-flex;
  width: 20px;
  height: 20px;
  text-decoration: none;
  background-color: red;
  align-items: center;
  justify-content: center;
}
.text-abs {
  position: absolute;
  top: 28%;
  right: 17%;
  font-size: 2rem;
  font-weight: 900;
  color: #14c259;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.close-btn > i {
  color: #fff;
}
.close-btn:hover > i {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.active-sub {
  color: #42ace3;
  font-weight: 900;
  /* font-size: 1.3rem; */
  border: 0 !important;
}

.sub-nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.details {
  cursor: pointer;
  text-decoration: none;
}
.btn-light:hover {
  color: #42ace3 !important;
  /* color: #000 !important; */
}
.selected-btn {
  background-color: #42ace3 !important ;
  color: #fff !important;
}

.filtter-rom {
  display: none;
}
.filtter-active {
  display: inherit;
}
.type-rom > button {
  width: 120px;
}
.rom-selected {
  background-color: #42ace3 !important ;
  color: #fff !important;
  font-weight: 900;
}
.btn-back {
  background-color: #fff !important ;
  color: #42ace3 !important;
  font-weight: 900;
}
.back-btn {
  color: #42ace3 !important ;
  background-color: #fff !important;
  font-weight: 900 !important;
}
.warning-text {
  color: red;
}
.refersh-but {
  font-weight: 900;
}
