label > .semi-nav {
  text-decoration: none;
  color: #000;
}
.active-semi {
  padding-bottom: 10px;
  color: #25ace3 !important;
  border-bottom: 2px solid #25ace3;
}
td {
  font-weight: bold;
}

.img-back {
  width: 100%;
  height: 135px;
  background: url("https://res.cloudinary.com/dtu4lltbk/image/upload/v1619304758/5336eec5-39f5-48e2-8750-1bf69a461801_fhlcd8.jpg")
    no-repeat center center/cover;
  margin-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
}
.header-text {
  font-weight: bolder;
  color: #212529;
  font-size: 3rem;
  margin: 0;
}
.no-data-to-show {
  font-size: 18px;
  margin-top: 16px;
  margin-right: 32px;
  width: 100%;
}
.container-report {
  padding: 0 32px 0 32px;
}

.report-search-btn {
  height: 80px;
  width: 80px;
  margin-top: 24px;
}
.report-filter-item {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}
.report-label {
  margin-top: 8px
}

.left-column {
  height: 2160px;
}
.report-input {
  width: 200px;
  height: 40px;
}
.col-11 {
  width: 870px;
}
.report-form-control {
  height: 40px;
}
.report-input-left-column{
  height: 40px;
 
}
.report-form-control-date-picker {
  height: 40px;
  width: 200px;
}
.report-dropdown {
  height: 39px  !important;
}
.report-dropdown-container {
  width: 200px;
}
.report-row {
  display: flex;
  flex-direction: row;
}

.report-column {
  margin: 0 16px 0 8px;
}

.report-checkbox-container {
  margin-top: 20px;
}
.report-checkbox {
  padding: 0px !important;
}