label > .semi-nav {
  text-decoration: none;
  color: #000;
}
.active-semi {
  padding-bottom: 10px;
  color: #25ace3 !important;
  border-bottom: 2px solid #25ace3;
}
td {
  font-weight: bold;
}

.img-back {
  width: 100%;
  height: 135px;
  background: url("https://res.cloudinary.com/dtu4lltbk/image/upload/v1619304758/5336eec5-39f5-48e2-8750-1bf69a461801_fhlcd8.jpg")
    no-repeat center center/cover;
  margin-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
}
.header-text {
  font-weight: bolder;
  color: #212529;
  font-size: 3rem;
  margin: 0;
}
.no-data-to-show {
  font-size: 18px;
  margin-top: 16px;
  margin-right: 32px;
  width: 100%;
}
.container-report {
  padding: 0 64px 0 64px;
}

.report-filter-item {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 4px;
}
.report-label {
  font-size: 14px;
  margin-top: 8px;
  width: 25%;
}
.report-filter-item > div:nth-child(2) {
  width: 75%;
  margin-left: 4px;
  margin-right: 4px;
}

.report-input {
  width: 200px;
}
.report-form-control {
  height: 40px;
}
.report-form-control-date-picker {
  height: 43px;
}
.report-dropdown {

}
.report-dropdown-container {
  width: 200px;
}
.report-row {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.report-column {
  margin: 0 8px 0 8px;
}

.report-filter-item .report-checkbox-container {
  width: 100%;
  margin-top: 16px;
}
.report-checkbox-container label{
  cursor: pointer;
  margin: 0 8px;
}

.report-checkbox {
  padding: 0px !important;
}

.report-search-btn {
   width: 100px;
   height: 90px;
   margin-top: 24px
}