
.credit-input{
    width: 200px;
    margin: 0 8px 0 8px;

}

#credits-select{
    width: 280px;
    margin: 0 8px 0 8px;
    font-size: 12px;
}

.credits-row{
    margin-top: 32px;
    display: flex;
    align-items: center;
    width: 1000px;
  
}

.credits-btn {
    margin: 0 8px 0 8px;
    font-size: 12px;
}

table td {
    font-size: 12px;
}

.credits-label {
    font-size: 12px;
}

.convert-points-card {
    width: 150px;
    cursor: pointer;
}

.grayed-out{
    opacity: 0.5;
    /* pointer-events: none;
    cursor: not-allowed; */
}
.convert-points-dropdown-container {
   
}


.convert-points-input {
    margin: 0 8px;
    width: 300px;
}