
.credit-input{
    width: 200px;
    margin: 0 8px 0 8px;

}

#credits-select{
    width: 200px;
    margin: 0 8px 0 8px;
}

.credits-row{
    display: flex;
    align-items: center;
}

.credits-btn {
    margin: 0 8px 0 8px;
}